.notificationCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 8px;
  border-radius: 16px;
  background-color: var(--color-white);
  color: var(--color-text);
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-main);
}

.date {
  font-size: 0.875rem;
  color: var(--color-text-accent);
  font-style: italic;
}

.content {
  font-size: 1rem;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: break-word;
}

.actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-left: auto;
}

.actions button {
  min-height: unset;
  min-width: unset;

  padding: 4px 12px;
  font-size: 0.9rem;
}