.results {
    /* Results */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    padding: 24px;
    gap: 12px 10px;

    width: 100%;

    background: var(--color-bg-accent);
    border-radius: 24px;

    /* Inside auto layout */
    flex: 1;

    overflow: scroll;
    scrollbar-width: none;
}