.searchbarContainer {
    /* Search=true */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
    gap: 12px;

    width: 100%;
}

.searchbarCenter {
    /* Search Bar */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;

    width: 0px;
    height: 48px;

    background: var(--color-white);
    border: 2px solid var(--color-main);
    border-radius: 48px;

    flex: 1;
}

.searchbarSearchText {
    /* Text */
    font-size: 20px;
    color: var(--color-text);
    width: 100%;
}

.searchbarSearchText::placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    /* identical to box height */

    color: var(--color-text-accent);
    opacity: 50%;
}

.searchbarSearchText:focus {
    outline: transparent;
}

.searchbarPlaceholderText {
    /* Text */
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    
    width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    color: var(--color-text);


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.searchbarSearchIcon {
    /* Icon */

    width: 24px;
    height: 24px;
    color: var(--color-text-accent);


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.searchbarSearchIcon:hover {
    /* Icon */
    cursor: pointer;
}

.searchbarRightIcon {
    /* Icon */

    width: 32px;
    height: 32px;
    color: var(--color-text);


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.searchbarLeftIcon {
    /* Inbox Icon */

    width: 32px;
    height: 32px;
    color: var(--color-text);


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.searchbarPlaceholderText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: var(--color-text);
}