.row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0.875rem 0;

    width: 100%;
}

.readOnly {
  opacity: 0.6;
  pointer-events: none;
}

.rowLabel {
    flex: 0 0 130px;
    font-weight: 600;
    color: var(--color-text);
    font-size: 0.875rem;
    width: 100%;
}

.row> :last-child:not(.rowLabel) {
    flex: 1;
    min-width: 0;
    width: auto;
    justify-content: flex-start;
}