.boxed-layout-container{
    background-color: var(--color-light-accent);
    display: flex;
    gap: 0px;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.boxed-layout-header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    /* border: 2px solid black; */
}

.boxed-layout-main{
    flex-grow: 1;
    /* border: 2px solid black; */
}

.boxed-layout-footer{
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    /* border: 2px solid black; */
}
