.icon{
    height: 100%;
    width: 100%;
    color: var(--color-text);
    background-color: var(--color-bg-accent);
    /* border-radius: 24px; */
    /* text-align: center; */
    /* padding: 16px 40px; */
    border: 1px solid black;
}