.pageContainer {
    display: flex;
    gap: 12px;
    flex-flow: column nowrap;
    height: 100%;
    min-height: 0;
}

.pageSearchSection {
    height: 53px;
}

.bodyContainer {
    /* Settings */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;

    width: 100%;
    height: 0px;

    background: var(--color-bg-accent);
    border-radius: 24px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.SectionSecurity {
    /* Group */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 100%;
    height: 250px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.SecurityForm {
    width: 100%;
}

.SecurityFields {
    /* Fields */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 100%;
    height: auto;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.SecurityButtons {
    /* Save */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 8px 0px;
    gap: 24px;

    width: 100%;
    height: 52px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.SecurityButtonsDiscard {
    /* Secondary Button */

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.SecurityButtonsSave {
    /* Main Button */

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.SectionDanger {
    /* Group */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 100%;
    height: 122px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.DangerDelete {
    /* Delete */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    gap: 24px;

    width: 100%;
    height: 52px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.DangerDeleteButton {
    /* Main Button */

    /* Inside auto layout */
    flex: none;
    float: left;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.DangerDeleteButton * {
    /* Main */

    width: auto;

    font-weight: 600;
    font-size: 20px;
    text-decoration-line: underline;

    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}