.sectionContainer {
    display: flex;
    gap: 12px;
    flex-flow: column nowrap;
    height: 100%;
    min-height: 0;
}

.sectionMain {
    flex-grow: 1;
    min-height: 0;
}

.sectionFooter {
    height: 58px;
}