.category{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 10px;
    width: auto;
    height: auto;
    border: 1px solid var(--color-main-accent);
    border-radius: 24px;
    flex: none;
    flex-grow: 0;
}

.categoryText{
    width: auto;
    height: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: var(--color-text);
    flex: none;
    flex-grow: 0;
}