.eventcard{
    /* Event Card */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;

    width: 340px;

    /* Light Gradient */
    background: var(--gradient-light);
    border-radius: 24px;
}

.eventcard-banner{
    /* Banner */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-radius: 24px 24px 0px 0px;

    max-width: 340px;
    max-height: 150px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.eventcard-info{
    /* Info */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 10px;

    width: 100%;


    /* Inside auto layout */
    flex: none;
    /* order: 1; */
    align-self: stretch;
    flex-grow: 0;
}

.eventcard-info-title{
    /* Title */

    width: 100%;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: start;

    color: var(--color-text-accent);


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.eventcard-info-description{
    /* Description */

    width: 100%;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: start;

    color: var(--color-text);


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.eventcard-details{
    /* Details */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;

    width: 100%;


    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.eventcard-details-first{
    /* Row 1 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 100%;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.eventcard-details-prize{
    /* Prize */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.eventcard-details-prize-icon{
    /* Icon */

    width: 14px;
    height: 14px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.eventcard-details-prize-text{
    /* Text */

    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;

    color: var(--color-prize);


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.eventcard-details-participants{
    /* Participants */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.eventcard-details-participants-icon{
    /* People */

    width: 14px;
    height: 14px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.eventcard-details-participants-text{
    /* Text */

    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: var(--color-text);


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.eventcard-details-dates{
    /* Dates */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;

    width: 100%;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.eventcard-details-dates-icon{
    /* Calendar */
    width: 14px;
    height: 14px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.eventcard-details-dates-text{
    /* Text */

    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #274472;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.eventcard-details-location{
    /* Location */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;

    width: 100%;


    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.eventcard-details-location-icon{
    /* Location */

    width: 14px;
    height: 14px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.eventcard-details-location-text{
    /* Text */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #274472;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.eventcard-details-categories{
    /* Categories */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;

    width: 316px;
    height: 14px;


    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.eventcard-buttons{
    /* Buttons */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 10px;

    width: 100%;


    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}