.page-container{
    display: flex;
    gap: 12px;
    flex-flow: column nowrap;
    height: 100%;
}

.page-search-section{
    height: 53px;
}

.page-filters-section{
    height: 40px;
}

.page-results-section{
    flex-grow: 1;
}
