.groupContainer {
  display: flex;
  gap: 12px;
}

.groupContainer[data-direction="column"] {
  flex-direction: column;
}

.groupContainer[data-direction="row"] {
  flex-direction: row;
  flex-wrap: wrap;
}

.groupLabel {
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 8px;
}

.itemContainer {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.checkboxRoot {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid var(--color-inactive);
  transition: all 0.2s ease;
  cursor: inherit;
  padding: 0;
}

.checkboxRoot[data-state="checked"] {
  background-color: var(--color-main);
  border-color: var(--color-main);
  color: white;
}

.checkboxRoot[data-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.checkboxIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: var(--animation-scale-in);
}

.itemLabel {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-text);
  cursor: inherit;
  user-select: none;
}
.itemLabel[data-disabled] {
  opacity: 0.5;
}
