.sectioned-layout-container{
    background-color: var(--color-light-accent);
    display: flex;
    gap: 24px;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    min-height: 100vh;
    padding: 14px;
}

.sectioned-layout-main-section{
    flex-grow: 5
}

.sectioned-layout-side-section{
    flex-grow: 2
}