.cardGroup{
    /* Group */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 100%;


    /* Inside auto layout */
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}

.cards{
    /* Cards */

    /* Auto layout */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* flex-wrap: wrap; */
    /* align-items: flex-start; */
    /* align-content: flex-start; */
    justify-content: space-between;
    padding: 0px;
    gap: 16px;

    width: 100%;


    /* Inside auto layout */
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}